$basic-green: #68B738;
$white: #ffffff;
$basic-grey: #F2F2F2;
$special_grey-2: #EBEBEB;
$special_grey: #CDCDCD;
$special_grey-3: #666666;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$status_error: #FF8282;
$basic_green-2: #5EAA2F;
$black-1: #111111;
$black: #000000;
$desktop: 1440px;
$tablet: 1220px;
$mobile: 768px;