.button-default {
    color: $white;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    line-height: 0px;
    text-transform: uppercase;
    background: $basic_green;
    padding: 15px 25px;
    min-height: 54px;

}