.header {
    position: relative;

    nav {
        position: relative;
        bottom: -20px;
        display: flex;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;

        img {
            padding-left: 10px;
        }
        ul {
            padding-right: 10px;
        }
    }

    .hamburger{
        z-index: 101;
        @media (min-width:$mobile) {
            display: none;
        }
    }

    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:$mobile) {
            display: none;
        }
    }

    &-list__item {
        color: #FFF;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        list-style: none;
        position: relative;

        &:not(:last-child) {
            margin-right: 35.5px;
        }

        &--active {
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                bottom: -2px;
                left: 0;
                height: 2px;
                background-color: #FFF;
            }
        }
        @media (max-width:$tablet) {
            color: $black;
            &--active{
                &::after{
                    background-color: $basic-green;
                }
            }
        }
    
    }
    .text-black.header-list__item--active::after{
        background-color: $basic-green;
    }

    .container-header {
        @include flex;
        margin-top: -65px;
        overflow: hidden;

        &-text {
            padding-left: 120px;
            @media (max-width:$mobile) {
                padding-left: 0;
            }
        }

        h1 {
            color: $black;
            font-size: 60px;
            font-weight: 400;
            line-height: 60px;
            margin-bottom: 40px;
            @media (max-width:$mobile) {
                color: #FFF;
                text-align: center;
                font-size: 36px;
                line-height: 100%;
                margin-bottom: 25px;
            }
        }

        p {
            color: $black;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
            @media (max-width:$mobile){
                color: $white;
                text-align: center;
            }
        }

        @media (max-width:$tablet) {
            padding-top: 100px;
            padding-bottom: 400px;
        }

        @media (max-width:$mobile) {
            justify-content: center;
            padding-top: 120px;
        }
    }

    .green-cat {
        @include image;
        height: 700px;
        width: 100%;
        max-width: 720px;
        @media (max-width:$tablet) {
            display: none;
        }

        @media (max-width:$mobile) {
            display: block;
            height: 300px;
            content: url("../../img/index-background-mobile-1.png");
            background-size: contain;
            background-position: center;
            max-width: 100%;
            position: absolute;
            z-index: -1;
            top: 110px;
        }
    }

    .button-default {
        @media (max-width:$mobile) {
            position: absolute;
            bottom: 0;
            min-width: 255px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .kyrica {
        @include image;
        right: 325px;
        top: 140px;
        background-image: url("../../img/index-can-desktop@1x.png");
        position: absolute;
        width: 550px;
        height: 500px;
        @media (max-width:$tablet) {
            right: calc(50% - (550px / 2));
            top: 350px;
            z-index: -1;
        }
        @media (max-width:$mobile) {
            width: 280px;
            height: 270px;
            right: calc(50% - (280px / 2));
            top: 300px;
        }
    }
}

.mobile-nav {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: $white;
    color: $black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    &.is-active{
        display: flex;
    }
    .header-list__mobile {
        text-align: center;
        li{
            margin: 15px 0;
        }
    }
}
